<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbk.dao.ProfessionMapper">
  <resultMap id="BaseResultMap" type="com.kbk.model.Profession">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="image" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="development_direction" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="profession_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="limit_condition" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="difficulty" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="growth_cycle" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="salary_start" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="salary_end" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="scarcity" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="number_of_student" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="employed_population" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="prompt" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_at" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="update_at" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, image, development_direction, profession_name, description, limit_condition, 
    difficulty, growth_cycle, salary_start, salary_end, scarcity, number_of_student, employed_population,
    prompt, create_at, update_at
  </sql>

<!-- 查询所有 -->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from profession
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from profession
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from profession
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  
  <insert id="insert" parameterType="com.kbk.model.Profession">
    insert into profession (id, image, development_direction, 
      profession_name, description, limit_condition, 
      difficulty, growth_cycle, salary_start,
      salary_end, scarcity, number_of_student, 
      employed_population, prompt, create_at, 
      update_at)
    values (#{id,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR}, #{developmentDirection,jdbcType=VARCHAR}, 
      #{professionName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{limitCondition,jdbcType=INTEGER}, 
      #{difficulty,jdbcType=INTEGER}, #{growthCycle,jdbcType=VARCHAR}, #{salaryStart,jdbcType=INTEGER},
      #{salaryEnd,jdbcType=INTEGER}, #{scarcity,jdbcType=INTEGER}, #{numberOfStudent,jdbcType=INTEGER}, 
      #{employedPopulation,jdbcType=INTEGER}, #{prompt,jdbcType=VARCHAR}, #{createAt,jdbcType=BIGINT}, 
      #{updateAt,jdbcType=BIGINT})
  </insert>
  
  
  <insert id="insertSelective" parameterType="com.kbk.model.Profession">
    insert into profession
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="developmentDirection != null">
        development_direction,
      </if>
      <if test="professionName != null">
        profession_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="limitCondition != null">
        limit_condition,
      </if>
      <if test="difficulty != null">
        difficulty,
      </if>
      <if test="growthCycle != null">
        growth_cycle,
      </if>
      <if test="salaryStart != null">
        salary_start,
      </if>
      <if test="salaryEnd != null">
        salary_end,
      </if>
      <if test="scarcity != null">
        scarcity,
      </if>
      <if test="numberOfStudent != null">
        number_of_student,
      </if>
      <if test="employedPopulation != null">
        employed_population,
      </if>
      <if test="prompt != null">
        prompt,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="developmentDirection != null">
        #{developmentDirection,jdbcType=VARCHAR},
      </if>
      <if test="professionName != null">
        #{professionName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="limitCondition != null">
        #{limitCondition,jdbcType=INTEGER},
      </if>
      <if test="difficulty != null">
        #{difficulty,jdbcType=INTEGER},
      </if>
      <if test="growthCycle != null">
        #{growthCycle,jdbcType=VARCHAR},
      </if>
      <if test="salaryStart != null">
        #{salaryStart,jdbcType=INTEGER},
      </if>
      <if test="salaryEnd != null">
        #{salaryEnd,jdbcType=INTEGER},
      </if>
      <if test="scarcity != null">
        #{scarcity,jdbcType=INTEGER},
      </if>
      <if test="numberOfStudent != null">
        #{numberOfStudent,jdbcType=INTEGER},
      </if>
      <if test="employedPopulation != null">
        #{employedPopulation,jdbcType=INTEGER},
      </if>
      <if test="prompt != null">
        #{prompt,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.kbk.model.Profession">
    update profession
    <set>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="developmentDirection != null">
        development_direction = #{developmentDirection,jdbcType=VARCHAR},
      </if>
      <if test="professionName != null">
        profession_name = #{professionName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="limitCondition != null">
        limit_condition = #{limitCondition,jdbcType=INTEGER},
      </if>
      <if test="difficulty != null">
        difficulty = #{difficulty,jdbcType=INTEGER},
      </if>
      <if test="growthCycle != null">
        growth_cycle = #{growthCycle,jdbcType=VARCHAR},
      </if>
      <if test="salaryStart != null">
        salary_start = #{salaryStart,jdbcType=INTEGER},
      </if>
      <if test="salaryEnd != null">
        salary_end = #{salaryEnd,jdbcType=INTEGER},
      </if>
      <if test="scarcity != null">
        scarcity = #{scarcity,jdbcType=INTEGER},
      </if>
      <if test="numberOfStudent != null">
        number_of_student = #{numberOfStudent,jdbcType=INTEGER},
      </if>
      <if test="employedPopulation != null">
        employed_population = #{employedPopulation,jdbcType=INTEGER},
      </if>
      <if test="prompt != null">
        prompt = #{prompt,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <update id="updateByPrimaryKey" parameterType="com.kbk.model.Profession">
    update profession
    set image = #{image,jdbcType=VARCHAR},
      development_direction = #{developmentDirection,jdbcType=VARCHAR},
      profession_name = #{professionName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      limit_condition = #{limitCondition,jdbcType=INTEGER},
      difficulty = #{difficulty,jdbcType=INTEGER},
      growth_cycle = #{growthCycle,jdbcType=VARCHAR},
      salary_start = #{salaryStart,jdbcType=INTEGER},
      salary_end = #{salaryEnd,jdbcType=INTEGER},
      scarcity = #{scarcity,jdbcType=INTEGER},
      number_of_student = #{numberOfStudent,jdbcType=INTEGER},
      employed_population = #{employedPopulation,jdbcType=INTEGER},
      prompt = #{prompt,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=BIGINT},
      update_at = #{updateAt,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
</mapper>